*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

header{
    height: 700px;
    background-image: url('images/desktop/image-header.jpg');
    background-position: center;
    background-size: cover;
    padding: 1.5em;

}

.logo-nav{
    height: 70px;
    margin: 0 auto;
}

.menu-icon{
    visibility: hidden;
}

.logo{
    width: 130px;
    height: 100%;
    background-image: url('images/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.nav{
    width: 50%;
    height: 100%;
    float: right;
}

ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul a{
    list-style: none;
    text-decoration: none;
    color: white;
    
}
li:hover {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 15px 30px;
    margin-top: -10px;
    text-transform: uppercase;
  }

header h1{
    text-align: center;
    font-size: 3.5rem;
    color: white;
    margin-top: 1em;
   
    font-family: "Courier New", Courier, monospace;
}

.arrow{
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
}

.row{
    height: 500px;
    display: flex;
}

.box{
    width: 50%;
    height: 100%; 
   
}

.text{
    display: flex;
    align-items: center;
    order: -1;
}

.text2{
    display: flex;
    align-items: center;
}

.content{
    margin: 0 auto;
    width: fit-content;
    
}
.content h1{
    margin-bottom: 1.5em;
}

.content h3{
    margin-top: 1.5em;
}
.graphic .content p,.graphic .content h2,.photo .content p, .photo .content h2{
    text-align: center;margin-bottom: 1.5em;
    color: rgb(56, 56, 56);
}

.graphic .content, .photo .content{
    width: 50%;
    

}
.image{
    background-image: url(./images/desktop/image-transform.jpg);
}

.image2{
    background-image: url(./images/desktop/image-stand-out.jpg);
}

    

.photo{
    background-image: url('images/desktop/image-photography.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    
    
}



.graphic{
    background-image: url('images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;

}




.fourth_row{
    width: 100%;
    height: 600px;
    
  }
  
       .client_box1, 
       .client_box2,
        .client_box3{
          width: 30%; 
          height: 500px;
          text-align: center;
        
          }
        
      
      
       
  
       .client_boxes{
        width: 100%;
        height: 500px;
      display: flex;
      justify-content: space-around;
        }
      
       
       .emily{
        height: 70px;
        width: 20%;
        margin-left: 7em;
         margin: auto; 
        margin-top: 7em;
        margin-bottom: 2em;
        background-image: url(./images/image-emily.jpg);
        background-size: cover;
        border-radius: 1.5em;
  
       }
  
       .thomas{
        height: 80px;
        width: 20%;
        margin-left: 7em;
        margin: auto;
        margin-top: 8em;
        margin-bottom: 2em;
        background-image: url(./images/image-thomas.jpg);
        background-size: cover;
        border-radius: 3em;
        
       }
        h2{
         text-align: center;
        font-family: 'Courier New', Courier, monospace; 
        padding-top: 2em;}
   
  
       .jennie{
        height: 80px;
        width: 20%;
        margin-left: 7em;
        margin: auto;
        margin-top: 8em;
        margin-bottom: 2em;
        background-image: url(./images/image-jennie.jpg);
        background-size: cover;
        border-radius: 3em; 
       } 

       .fifth_row{
        width: 100%;
        height: 500px;
        display: flex;

 
       }
       .fifth_row1{
        height: 500px;
        width: 50%;
        display: flex;

       }
       .sunny_img1,
       .sunny_img2{
        width: 50%;
       height: 500px;
       }

      .fifth_row1 .sunny_img1{
        background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
      .fifth_row1 .sunny_img2{
        background-image: url('./images/desktop/image-gallery-orange.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
      .fifth_row2{
        height: 500px;
        width: 50%;
        display: flex;
       }
       .sunny_img3,
       .sunny_img4{
        width: 50%;
        height: 500px;}

      .fifth_row .sunny_img3{
           background-image: url('./images/desktop/image-gallery-cone.jpg');
            background-size: cover;
            background-repeat: no-repeat;
          }
          
     .fifth_row .sunny_img4{
            background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
          background-size: cover;
          background-repeat: no-repeat;}

      
       footer{
        width: 100%;
      }
      .footer_content{
        height: 400px;
        background-color: aquamarine;
      }
      .footer_nav{
        width: 40%;
        height: 200px;
        margin-left: 25em;
        
      }
      img{
        justify-items: center;
        padding-left: 6em;
        
      } 
      ul{
       list-style: none;
      }
      
@media(max-width: 576px){
    
    header{
        background-image: url('images/mobile/image-header.jpg');
        background-size: inherit;
    }
    .nav ul{
       display: none;
    }
    .menu-icon{
        display: block;
        visibility: visible;
        margin-left: 3em;
        margin-top: 1em;

    }

    header h1{
        font-size: 3rem;
        margin-top: 0.5em;
    }
    
     .grid{
        height: 2000px;
        
    } 

    .row{
        display: block;
        height: 500px;

    } 

    .box{
        width: 100%;
    }

    .image{
        height: 40%;
        background-image: url(./images/mobile/image-transform.jpg);
        background-position: center;
        background-size: cover;
    }
    .text{
        height: 60%;


    }
    .text2{
        height: 60%;
    }
    .image2{
        height: 40%;
        background-image: url(./images/mobile/image-stand-out.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .fourth_row{
        height: 1150px;

        
    }
    .client_boxes{
        display: block; 
    }

    .client_box1,
    .client_box2,
    .client_box3{
        width: 100%;
        height: 150px;
    }
    .fifth_row{
    display: block;
    height: 500px;}
                   

    .fifth_row1{
        height: 250px;
        width: 100%;
    
    }
    .sunny_img1,
    .sunny_img2{
     width: 50%;
    height: 250px;
    }

    .fifth_row2{
        height: 250px;
        width: 100%;
    
       }
       .sunny_img3,
       .sunny_img4{
        width: 50%;
        height: 250px;} 

        .footer_nav{
        
            height: 200px;
            margin: auto;}

            img{
                justify-items: center;
            flex-direction: row;
            display: none;}

    







}